fieldset{ 
background-image: linear-gradient(to bottom right,transparent,lightblue);
border-radius: 10px;
border-style:solid;
border-width: 5 px;
border-color:gray;
box-shadow: -5px 5px 6px rgb(150, 173, 236) ;

}

.menufield{
width:75%;
left:12.5%;
position: relative;
background-image: url("food.jpg");
background-repeat: no-repeat;
background-size: cover;
color:rgb(184, 182, 182);
font-size: 20px;
font-weight: bold;
text-shadow:-2px 2px 3px rgb(61, 59, 59) ;
}
fieldset h1{
    color:rgb(184, 182, 182);
    font-size: 50px;
    font-style: italic;
text-shadow: -3px 3px 2px rgb(61, 59, 59);
text-align: center;
font-family: 'Times New Roman', Times, serif;
}
fieldset legend{
font-size:22px;
color:rgb(184, 182, 182);;
font-style: italic;
}

hr{
border-color: lightgray;
border-style: dashed;
}
input{
border-color:gray;
border-width: 1px;


}
input:hover{
background-color:lightgrey;
border-color: black;



}
button{
border-width: 1px;
border-radius: 5px;
border-color: gray;
background-color: rgb(199, 207, 247);
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

button:hover{
background-color:grey;
border-color: black;
font-weight: bold;
}